.about {
  color: $color-saphire;
}

.about__container {
  display: flex;
  justify-content: space-between;
  padding-left: 163px;
  padding-bottom: 120px;


  @media (max-width: 1199px) {
    padding-bottom: 68px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @include vp-767 {
    align-items: flex-start;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }
}

.about__description {
  max-width: 355px;
  padding-top: 39px;

  @media (max-width: 1199px) {
    max-width: none;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.about__description h3 {
  margin: 0;
  margin-bottom: 7px;
  letter-spacing: 0.03em;

  @include fonts(48px, 58px, 600, $color-saphire, $ff-secondary);

  @media (max-width: 1199px) {
    margin-right: 16px;
    margin-bottom: -1px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin-bottom: 5px;
    margin-right: 0;
    font-size: 32px;
    line-height: 38px;
  }
}

.about__description span {
  display: block;
  margin: 0;
  margin-bottom: 39px;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: 1199px) {
    margin-bottom: 34px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.about__description p {
  margin: 0;
  font-weight: 300;

  @media (max-width: 1199px) {
    max-width: 505px;
  }

  @include vp-767 {
    padding-right: 30px;
  }
}

.about__description p:last-of-type {
  @media (max-width: 1199px) {
    display: none;
  }
}

.about__description p:first-of-type {
  margin-bottom: 8px;

  @media (max-width: 1199px) {
    margin-bottom: 43px;
  }

  @include vp-767 {
    margin-bottom: 33px;
  }
}

.about__image {
  @media (max-width: 1199px) {
    width: 100%;
    max-height: 345px;
    object-fit: cover;
  }

  @include vp-767 {
    min-height: 313px;
  }
}

.about__media {
  position: relative;
  padding-left: 63px;
  padding-bottom: 115px;

  @media (max-width: 1199px) {
    width: 100%;
    padding-left: 0;
  }

  @include vp-767 {
    display: flex;
    padding-bottom: 38px;
    flex-direction: column;
    gap: 72px;
  }
}

.about__video {
  position: absolute;
  left: 0;
  bottom: 0;

  @media (max-width: 1199px) {
    bottom: 32px;
    left: calc(50% - 133px);
  }

  @include vp-767 {
    position: relative;
    left: 0;
  }
}
