.advantages {
  background-color: #f8f9fc;
  min-height: 664px;
  padding: 140px 0 51px;

  @media (max-width: 1199px) {
    min-height: 755px;
    padding-top: 91px;
  }

  @include vp-767 {
    min-height: 1231px;
    padding-top: 65px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 55px;
  margin-left: 10px;

  @media (max-width: 1199px) {
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    margin-left: 0;
    margin-right: 22px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.advantages .advantages__wrapper {
  @media (min-width: 1340px) {
    padding: 0 164px;
  }
}

.advantages__container {
  display: grid;
  grid-template-columns: auto minmax(auto, 240px) auto;
  grid-column-gap: 60px;
  grid-template-rows: repeat(2, minmax(153px, auto));
  margin-left: -5px;

  @media (max-width: 1199px) {
    grid-template-columns: auto auto;
    gap: 25px 70px;
    grid-template-rows: auto minmax(auto, 239px) auto;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
  }
}

.advantages__mark {
  background-color: #1c3374;
  grid-area: 1/2/4/3;
  text-align: center;
  min-width: 240px;
  overflow: auto;
  padding: 20px;

  &::-webkit-scrollbar {
    display: none;
  }

  h3 {
    margin: 0;
    margin-top: 37px;
    font-weight: 700;
    font-size: 74px;
    line-height: 90%;
    margin-left: -5px;
    margin-bottom: 5px;
  }

  p {
    font-weight: 700;
    font-size: 26px;
    line-height: 170%;
    margin: 0;
    margin-bottom: 30px;
  }

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  @media (max-width: 1340px) {
    min-width: 200px;
  }

  @media (max-width: 1199px) {
    grid-area: 2/1/3/-1;
    justify-self: center;
    min-width: 58vw;

    h3 {
      margin-top: 15px;
    }

    p {
      font-size: 22px;
      line-height: 33px;
      margin-bottom: 15px;
    }

    span {
      display: block;
      margin-left: 7px;
    }
  }

  @include vp-767 {
    position: relative;
    grid-area: auto/auto/auto/auto;
    min-width: 100vw;
    min-height: 239px;
    left: -15px;
    margin-top: 5px;

    h3 {
      margin: 22px 0 -3px 5px;
    }

    p {
      margin-bottom: 10px;
      margin-left: 5px;
    }
  }
}

.advantages__argument {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 30px;
  min-width: 340px;

  &--area,
  &--comfort {
    justify-items: end;

    @media (max-width: 1199px) {
      grid-template-columns: max-content 1fr;
      justify-items: start;
      grid-column-gap: 35px;
    }
  }

  @media (max-width: 1199px) {
    min-width: 0;
  }

  &--area {
    grid-area: 1/1/2/2;
    margin-top: -7px;
    grid-column-gap: 25px;

    .advantages__argument-wrapper-description {
      margin-right: 8px;
      margin-bottom: 15px;
    }

    @include vp-767 {
      gap: 5px;

      .advantages__argument-wrapper-description {
        margin: 0;
        margin-left: 5px;
        margin-bottom: 10px;
      }
    }
  }

  .advantages__argument-wrapper-num {
    margin-left: 24px;

    @media (max-width: 1199px) {
      margin: 0;
    }
  }

  &--comfort {
    margin-bottom: -7px;
    grid-column-gap: 30px;

    .advantages__argument-wrapper-num {
      margin-left: 23px;
    }
  }

  &--parking {
    grid-area: 1/3/2/4;
    margin-top: -7px;
    margin-left: -20px;

    @media (max-width: 1199px) {
      grid-area: 1/2/2/3;
    }
  }

  &--experience {
    margin-bottom: -5px;
    margin-left: -15px;
    grid-column-gap: 35px;

    .advantages__argument-wrapper-description {
      @media (max-width: 1199px) {
        margin: 0;
      }
    }

    .advantages__argument-wrapper-num {
      margin-left: 10px;
    }

    @media (max-width: 1199px) {
      grid-column-gap: 37px;
    }
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 0;
    justify-items: center;

    &--comfort {
      gap: 10px;
    }

    &--area {
      grid-area: auto/auto/auto/auto;
      gap: 5px;
    }

    &--experience {
      .advantages__argument-wrapper-num {
        margin-left: 17px;
      }

      .advantages__argument-wrapper-description {
        margin-left: 20px;
      }
    }

    &--parking {
      grid-area: auto/auto/auto/auto;

      @include vp-767 {
        .advantages__argument-wrapper-num {
          margin-left: 20px;
          margin-bottom: 10px;
        }

        .advantages__argument-wrapper-description {
          margin-left: 22px;
        }
      }
    }
  }
}

.advantages__argument--comfort,
.advantages__argument--experience {
  align-self: end;

  @media (max-width: 1199px) {
    margin-top: 20px;
  }

  @include vp-767 {
    margin-top: 10px;
    align-self: center;
  }
}

.advantages__argument--area,
.advantages__argument--parking {
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  @media (max-width: 1199px) {
    border: none;
  }
}

.advantages__argument-wrapper-description {
  color: $color-saphire;
  max-width: 230px;

  @media (max-width: 1199px) {
    margin-top: -5px;
  }

  h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    margin: 0;
    margin-bottom: 5px;

    @media (max-width: 1199px) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    margin: 0;
  }

  @include vp-767 {
    text-align: center;
    max-width: none;
  }
}

.advantages__argument-wrapper-num {
  p {
    font-style: normal;
    font-weight: 700;
    font-size: 71px;
    line-height: 80%;
    background: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    margin: 0;

    @media (max-width: 1199px) {
      font-size: 58px;
    }
  }

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 90%;
    color: $color-persian-blue;
  }

  @include vp-767 {
    text-align: center;
  }
}
