.communications {
  border-top: 1px solid $color-light-slate-gray;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
}
