.contacts {
  flex-grow: 1;

  @include vp-767 {
    display: flex;
    justify-content: start;
    min-height: 507px;
  }
}

.contacts__container {
  display: flex;
  gap: 120px;
  margin-left: 5px;

  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    color: $color-saphire;
  }

  @media (max-width: 1199px) {
    gap: 98px;
    margin-left: 7px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 20px;
  }
}

.contacts__title {
  text-align: left;
  margin-top: 0;
  margin-bottom: 35px;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 33px;
    padding-left: 7px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 36px;
  }
}

.contacts__wrapper {
  h3 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 3px;

    &:last-of-type {
      margin-top: 18px;

      @include vp-767 {
        margin-top: 17px;
      }
    }
  }

  a {
    font-size: 14px;
    line-height: 21px;
    margin-right: auto;
  }

  p {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
  }

  &:last-child {
    position: relative;
    max-width: 142px;

    &::after {
      content: "";
      position: absolute;
      width: 2px;
      top: 5px;
      bottom: 5px;
      left: -60px;
      background-color: #74819c;

      @media (max-width: 1199px) {
        left: -48px;
      }

      @include vp-767 {
        display: none;
      }
    }
  }

  &:first-child {
    max-width: 170px;

    @media (max-width: 1199px) {
      max-width: 218px;
    }
  }

  @media (max-width: 1199px) {
    h3 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 7px;
    }

    p,
    a {
      font-size: 18px;
      line-height: 27px;
    }
  }
}

.contacts__full-wrapper {
  max-width: 683px;
  padding: 56px 100px 60px 120px;
  display: flex;
  flex-direction: column;
  margin-right: auto;

  @media (max-width: 1300px) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (max-width: 1199px) {
    padding: 60px 133px 40px 125px;
    max-width: none;
    margin: 0 auto;
  }

  @include vp-767 {
    margin-left: 0;
    margin-right: auto;
    padding: 60px 15px 50px 7px;
  }
}
