.free-class {
  flex-grow: 1;
  background-color: $color-saphire;
  min-height: 337px;

  @media (max-width: 1199px) {
    min-height: 324px;
  }

  @media (max-width: 800px) {
    margin: 0;
  }

  @include vp-767 {
    max-width: none;
    width: 100%;
  }
}

.free-class__title {
  color: $color-default-white;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 800;
  line-height: 84px;
  text-align: left;

  @media (max-width: 1199px) {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 35px;
    margin-top: -5px;
  }

  @include vp-767 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    margin: 0;
    margin-bottom: 30px;
  }
}

.free-class__btn {
  justify-content: center;
  align-items: center;
  min-height: 52px;
  background-color: $color-saphire;
  border: 3px solid #ffffff;
  min-width: 410px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  max-width: 410px;

  &:hover {
    color: #ed0233;
    border: 3px solid#ed0233;
  }

  &:active,
  &:focus {
    color: #f78181;
    border: 3px solid#f78181;
  }

  @media (max-width: 1199px) {
    max-width: none;
    min-width: 472px;
  }

  @include vp-767 {
    min-width: 0;
  }
}

.free-class__form {
  display: flex;
  margin-bottom: 28px;
  flex-wrap: wrap;
  max-width: 410px;
  gap: 27px;

  input {
    display: block;
    background-color: $color-saphire;
    color: $color-default-white;
    border: none;
    outline: none;
    border-bottom: 1px solid #74819c;
    min-width: 190px;
    padding-bottom: 5px;

    &::placeholder {
      color: $color-default-white;
      font-family: $ff-main;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }

  @media (max-width: 1199px) {
    max-width: none;
    min-width: 472px;
    margin-bottom: 32px;

    input {
      max-width: none;
      width: 100%;
    }

    label {
      min-width: 206px;
    }

    label:first-of-type {
      margin-right: auto;
    }
  }

  @include vp-767 {
    min-width: 0;
    flex-direction: column;
    margin-bottom: 35px;
    gap: 0;

    label {
      flex-basis: 100%;
    }

    label:first-child {
      margin-right: 0;
      margin-bottom: 33px;
    }

    input {
      width: 100%;
      min-height: 30px;
    }
  }
}

.free-class__wrapper {
  max-width: 683px;
  padding: 56px 40px 70px 103px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  flex-shrink: 0;

  @media (max-width: 1199px) {
    margin: 0 auto;
    padding: 65px 133px 70px;
    max-width: 768px;
  }

  @media (max-width: 800px) {
    padding-right: 163px;
  }

  @include vp-767 {
    max-width: none;
    min-height: 386px;
    margin: 0 auto;
    padding: 65px 15px 70px;
  }
}
