.slider {
  width: 100%;
  height: 294px;

  @media (max-width: 1199px) {
    width: 566px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }
}

.slider__trainer {
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 1200px) {
    &:hover {
      overflow: auto;
      cursor: pointer;

      .slider__img-overlay {
        opacity: 1;
        transition: all 1.5s ease;
      }

      .slider__name-trainer {
        z-index: -1;
      }
    }
  }

  @media (max-width: 1199px) {
    &:focus,
    &:active {
      overflow: auto;

      .slider__img-overlay {
        left: 2px;
        opacity: 1;
        transition: all 0.7s ease;
      }

      .slider__name-trainer {
        z-index: -1;
      }
    }
  }
}

.slider__img-overlay {
  position: absolute;
  opacity: 0;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  background: rgba(16, 38, 84, 0.89);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.slider__img-overlay h3 {
  font-size: 18px;
  line-height: 150%;
  margin-top: 40px;
  margin-bottom: 0;

  @media (max-width: 1199px) {
    margin-right: 7px;
    margin-top: 44px;
  }

  @include vp-767 {
    margin-right: 5px;
    margin-top: 32px;
  }
}

.slider__img-overlay p {
  color: $color-spindle;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 30px;

  @media (max-width: 1199px) {
    margin-bottom: 30px;
    margin-top: -5px;
    margin-right: 5px;
  }

  @include vp-767 {
    margin-bottom: 32px;
  }
}

.slider__img-overlay ul {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.slider__img-overlay li {
  font-size: 14px;
  line-height: 150%;
  margin-left: 10px;

  @media (max-width: 1199px) {
    margin-left: 0;
  }
}

.slider__img-overlay li:not(:last-child) {
  margin-bottom: 15px;
}

.slider__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__name-trainer {
  position: absolute;
  font-size: 18px;
  line-height: 27px;
  left: 78px;
  bottom: 7px;

  @include vp-767 {
    left: 22%;
    bottom: 15px;
  }
}

.slider__trainer:nth-child(2n) {
  .slider__name-trainer {
    left: 70px;

    @media (max-width: 1199px) {
      margin-left: 15px;
    }

    @include vp-767 {
      bottom: 15px;
      left: 22%;
      margin: 0;
    }
  }
}

.slider__trainer:nth-child(4n) {
  .slider__name-trainer {
    left: 78px;
  }
}
