.subscription {
  position: relative;
  margin-bottom: 120px;
  padding-top: 120px;
  padding-bottom: 133px;
  background-color: $color-ghost-white;
  color: $color-saphire;

  @media (max-width: 1199px) {
    margin-bottom: 100px;
    padding-top: 101px;
    padding-bottom: 114px;
  }

  @include vp-767 {
    margin-bottom: 70px;
    padding-top: 64px;
    padding-bottom: 84px;
  }
}

.subscription__image {
  position: absolute;
  right: -200px;
  bottom: -200px;
  z-index: 1;
  width: auto;

  @media (max-width: 1199px) {
    right: -77px;
    bottom: -124px;
    width: 423px;
  }

  @include vp-767 {
    display: none;
  }
}

.subscription__heading {
  margin-bottom: 17px;

  @media (max-width: 1199px) {
    margin-right: 14px;
    margin-bottom: 20px;
  }

  @include vp-767 {
    margin-right: 10px;
    margin-bottom: 22px;
  }
}
